 @import '../styles/variables';


 // =================================================  HTML  ================================================== //

 html {
     scroll-behavior: smooth;
 }

 ::selection {
     background-color: $white;
     color: $background;
 }

 a {
     text-decoration: none;
     color: $white;
     transition: ease all .25s;

     &:hover {
         color: $purple !important;
     }
 }

 h2 {
     background-color: $black;
     text-align: center;
     margin: .5em 0;
     padding: .5em;
 }

 .blackBeforeLoading {
     background-color: $background;
     position: fixed;
     height: 100vh;
     width: 100vw;
     z-index: 10000;
     overflow: hidden;
 }

 .preloader {
     position: fixed;
     height: 100vh;
     width: 100vw;
     z-index: 10000;

     .preloaderTab {
         background-color: $background;
         position: absolute;
         height: 100vh;
         width: 50vw;
     }

     .preloaderLeft {
         left: 0%;
     }

     .preloaderRight {
         right: 0%;
     }

     .preloaderSvg {
         opacity: 1;
     }

     .fade {
         opacity: 0;
     }
 }

 .borderLeft {
     border-left: 2px solid $white;
 }

 .borderRight {
     border-right: 2px solid $white;
 }

 body {
     background-color: $background;
     color: $white;
     display: grid;
     grid-template-rows: min-content min-content min-content;
     row-gap: 20px;
     font-family: 'EB Garamond',
         serif;
     font-size: 20px;
     min-height: 100vh;

     main {
         grid-row: 2/3;
         display: grid;
         grid-template-columns: 10% auto 10%;
         height: min-content;
     }
 }

 .disabled {
     background-color: $background;
 }


 // =================================================  MEDIA QUERIES  ================================================== //

 @media only screen and (max-width: 500px) {
     body {
         row-gap: 10px;
         font-size: 18px;

         main {
             grid-template-columns: 5% auto 5%;
         }
     }
 }