 /* */

 // =============================================  VARIABLES  ============================================= //

 $background: #121212;
 $white: #fbfbfd;
 $black: #1E1E1E;
 $purple: #6600cc;
 $blessing: #68BCD0;
 $curse: #880000;


 // =============================================  FONTS  ============================================= //

 @font-face {
     font-family: logoFont;
     src: url(../resources/fonts/logo.otf);
 }

 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


 // =============================================  GENERAL CONTENT  ============================================= //

 ::selection {
     background-color: $white;
     color: $background;
 }


 // =============================================  DOCUMENT  ============================================= //

 html {
     scroll-behavior: smooth;

     a {
         text-decoration: none;
         color: $white;

         &:hover {
             color: $white;
         }

     }

     h2 {
         margin: 10px 0 10px 0;
         text-align: center;
         padding: 20px;
         background-color: $black;
     }

     body {
         background-color: $background;
         color: $white;
         display: grid;
         grid-template-rows: min-content min-content min-content;
         row-gap: 20px;
         font-family: 'EB Garamond', serif;
         font-size: 20px;

         .blessing {
             border: 2px solid $blessing;
         }

         .curse {
             border: 2px solid $curse;
         }

         .hide {
             display: none;
         }

         .button {
             padding: 13px;
             border: 2px solid $black;
             border-radius: 10px;
             text-align: center;
             width: 70%;
             transition: ease all .25s;
             font-family: logoFont;
             background-color: $background;
             color: $white;

             &:hover {
                 background-color: $black;
                 color: $white;
                 border: 2px solid $purple;
             }
         }

         .disabled {
             background-color: $background;
         }

         header {
             background-color: $background;
             height: min-content;
             width: 100%;
             grid-row: 1/2;

             .containerLogo {
                 padding: 15px;
                 height: min-content;
                 width: 40%;
                 margin: auto;
                 display: flex;
                 align-items: center;
                 justify-content: center;

                 .logo {
                     img {
                         height: 100px;
                         width: auto;
                     }
                 }

                 .logoText {
                     font-family: logoFont;
                     font-size: 40px;
                 }

             }

             nav {
                 background-color: $black;
                 height: 50%;
                 width: 80%;
                 font-family: logoFont;
                 display: flex;
                 align-items: center;
                 margin: auto;

                 ul {
                     padding: 10px 0 10px 0;
                     width: 100%;
                     list-style: none;
                     display: flex;
                     justify-content: space-around;
                     margin: 0;

                     li {

                         flex-direction: row;

                         a {
                             text-decoration: none;
                             color: $white;
                             font-size: 18px;
                             transition: ease all .25s;

                             &:hover {
                                 color: $purple;
                             }

                         }

                         .img {
                             height: 30px;
                             width: 30px;
                             transition: ease all .25s;
                             background-image: url(../resources/nav/pouch.svg);

                             &:hover {
                                 background-image: url(../resources/nav/pouchHover.svg);
                             }
                         }
                     }
                 }
             }
         }

         main {
             grid-row: 2/3;
             display: grid;
             grid-template-columns: 10% auto 10%;
             height: min-content;

             .preloader {
                 height: 100vh;
                 width: 100vw;
                 position: absolute;
                 background-color: $background;
                 z-index: 100;
                 grid-column: 1/4;
             }

             .mainContainer {
                 grid-column: 2/3;
                 background-color: $background;
                 height: 100%;

                 .parallax1 {
                     background-position: center;
                     background-size: cover;
                     background-attachment: fixed;
                     width: 100%;
                     height: 400px;
                     background-image: url(../resources/index/parallax/parallax1.jpg);
                     filter: grayscale(100%);

                     h1 {
                         height: 100%;
                         margin: 0;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         font-family: logoFont;
                         color: $black;
                         text-shadow: 0px 0px 4px $white;
                         font-size: 36.66px;
                     }
                 }

                 .parallax2 {
                     background-position: center;
                     background-size: cover;
                     background-attachment: fixed;
                     width: 100%;
                     height: 400px;
                     background-image: url(../resources/index/parallax/parallax2.jpg);
                     filter: grayscale(100%)
                 }

                 .containerTextAndImg {
                     display: flex;
                     padding: 5px 0 5px 0;
                     align-items: center;
                     justify-content: center;
                     line-height: 35px;

                     .textTandI {
                         width: auto;
                     }

                     .imgRitual {
                         height: auto;
                         width: 35%;
                     }

                     .imgSeekers {
                         height: 70%;
                         width: auto;
                     }
                 }

                 .parallax3 {
                     background-position: center;
                     background-size: cover;
                     background-attachment: fixed;
                     width: 100%;
                     height: 400px;
                     background-image: url(../resources/index/parallax/parallax3.jpg);
                     filter: grayscale(100%)
                 }

                 p {
                     padding: 35.666px;
                     text-align: justify;
                 }
             }
         }
     }
 }


 // =================================================  SHOP  ================================================== 

 .mainContainer {
     .alert {
         z-index: 10;
     }

     .contentShop {
         height: min-content;
         display: grid;
         grid-column: 2/3;


         .filterShop {
             grid-row: 1/2;
             background-color: $black;
             //  height: 100%;
         }

         .displayShop {
             height: min-content;
             background-color: $black;
             grid-row: 2/3;
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
             row-gap: 10px;
             padding: 10px;

             .card {
                 background-color: $black;
                 width: 23%;
                 height: 510px;

                 .cardObjName {
                     font-family: logoFont;
                     padding: 0%;
                     font-size: 18px;
                 }

                 .cardObjPrice {
                     font-size: 25px;
                 }

                 .cardObjButton {
                     position: absolute;
                     bottom: 3%;
                     left: 50%;
                     transform: translateX(-50%);
                 }
             }

             .card-text {
                 padding: 10px;
             }
         }
     }
 }


 // =================================================  CONTACT  ================================================== 

 .form {
     background-color: $black;
     border-radius: 10px;
     height: min-content;
     width: 60%;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

     h1 {
         font-size: 36.66px;
     }

     form {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         height: auto;
         row-gap: 10px;
         padding: 10px;

         input,
         select {
             border: 2px solid $black;
             border-radius: 10px;
             text-align: center;
             width: 150%;
             height: 36.66px;
             transition: ease all .25s;
             background-color: $background;
             color: $white;


             &:focus-visible {
                 outline: 2px solid $purple;
             }

             option {
                 background-color: $background;
                 color: $white;
             }
         }

         textarea {
             border: 2px solid $black;
             border-radius: 10px;
             text-align: center;
             width: 150%;
             background-color: $background;
             color: $white;
             transition: ease all .25s;
             text-align: start;

             &::placeholder {
                 text-align: center;
             }

             &:focus-visible {
                 outline: 2px solid $purple;
             }
         }

         span {
             font-style: oblique;
             color: $white;
         }

         .button {
             padding: 13px;
             border: 2px solid $black;
             border-radius: 10px;
             text-align: center;
             width: 70%;
             transition: ease all .25s;
             font-family: logoFont;
             background-color: $background;
             color: $white;

             &:hover {
                 background-color: $black;
                 color: $white;
                 border: 2px solid $purple;
             }
         }
     }

     .logoForm {
         height: min-content;
         width: min-content;
         bottom: 0px;
         padding-bottom: 10px;

         img {
             height: 66.6px;
             width: auto;
         }
     }
 }

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     border: $purple;
     -webkit-text-fill-color: $white;
     -webkit-box-shadow: 0 0 0px 1000px $background inset;
     transition: background-color 5000s ease-in-out 0s;
 }


 // =================================================  CART  ================================================== 

 .containerCart {
     grid-column: 2/3;
     background-color: $background;
     height: 100%;

     .mainCart {
         height: min-content;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: $black;
         margin: 10px 0 10px 0;
         row-gap: 15px;

         table {
             margin: 0;
             background-color: $black;
             color: $white;

             tr {
                 .headProd {
                     width: 60%;
                 }

                 .headPrice,
                 .headCondition,
                     {
                     width: 10%;
                 }

                 .headQuantity {
                     width: 20%;
                 }

                 &:hover {
                     background-color: $background;

                     td {
                         color: $white;
                     }
                 }
             }

             tbody {
                 td {
                     .imgCartInTable {
                         width: 10%;
                         height: 100px;
                     }

                     .productCartInTable {
                         width: 90%;
                     }

                 }
             }

             .table-active {
                 color: $white;
             }



             img {
                 height: 130px;
                 width: 130px;
             }
         }

         .hide {
             position: absolute;
             top: -100vh;
             z-index: -10;
         }

         .noItemsCart {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             gap: 20px;
             width: 100%;
             height: 90vh;

             .openPouch {

                 img {
                     height: 100px;
                     width: auto;
                 }
             }
         }
     }

     .total {
         width: 100%;
         height: min-content;
         padding: 10px;
         background-color: $black;
         display: flex;
         align-items: center;
         justify-content: space-around;

         .space {
             width: 60%;
         }
     }
 }


 // =================================================  FOOTER  ================================================== 


 footer {
     align-items: center;
     justify-content: center;
     grid-row: 3/4;
     height: min-content;
     width: 100%;
     background-color: $black;

     //  .eye {
     //      grid-row: 1/2;
     //      position: absolute;
     //      width: 150px;
     //      height: 75px;
     //      background-color: white;
     //      border-radius: 50%;
     //      // left: 25%;
     //      // top: 25%;
     //      left: 50%;
     //      bottom: 0%;
     //      transform: translate(-50%, -50%);
     //      overflow: hidden;

     //      .pupil {
     //          position: relative;
     //          width: 20px;
     //          height: 50px;
     //          background-color: $purple;
     //          left: 50%;
     //          bottom: 50%;
     //          transform: translate(-50%, -50%);
     //          border-radius: 50%;
     //      }
     //  }

     p {
         margin: 0%;
         padding: 50px;
     }
 }


 .inputModal {
     border: 2px solid $black;
     border-radius: 10px;
     text-align: center;
     width: 100%;
     height: 36.66px;
     transition: ease all .25s;
     background-color: $background;
     color: $white;
     font-size: 20px;

     &:focus-visible {
         outline: 2px solid $purple;
     }
 }

 .quantityCartInTableInput {
     text-align: center;
     color: $white;
     background-color: $background;
     border: 2px solid $white;
     border-radius: 6px;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }